@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@model AirFastNew.Models.ManageLoginsViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject IAuthenticationSchemeProvider SchemeProvider

@{
    ViewBag.Title = "Manage your external logins";
    var loginProviders = await SchemeProvider.GetAllSchemesAsync();
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>

    @if (loginProviders.Count() == 0)
    {
        <div>
            <p>
                There are no external authentication services configured. 
                See <a href="https://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
                for details on setting up external login providers.
            </p>
        </div>
    }
    else
    {
        @if (Model.CurrentLogins.Count > 0)
        {
            <h4>Registered Logins</h4>
            <table class="table">
                <tbody>
                    @foreach (var account in Model.CurrentLogins)
                    {
                        <tr>
                            <td>@account.LoginProvider</td>
                            <td>
                                @if (ViewBag.ShowRemoveButton)
                                {
                                    <form asp-action="RemoveLogin" asp-controller="Manage" method="post">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="loginProvider" value="@account.LoginProvider" />
                                        <input type="hidden" name="providerKey" value="@account.ProviderKey" />
                                        <button type="submit" class="btn btn-outline-dark">
                                            Remove @account.LoginProvider
                                        </button>
                                    </form>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        @if (Model.OtherLogins.Count > 0)
        {
            <h4>Available External Logins</h4>
            <form asp-action="LinkLogin" asp-controller="Manage" method="post">
                @Html.AntiForgeryToken()
                <div id="socialLoginList">
                    <p>
                        @foreach (var provider in loginProviders)
                        {
                            <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Link @provider.DisplayName">
                                Link @provider.DisplayName
                            </button>
                        }
                    </p>
                </div>
            </form>
        }
    }
</main>